html{
    font-size: 22px;
}

body {
  margin: 0;
}

#Header-section{
    background-color: green;
    width: 100vw;
    height: 25vh;
    position: fixed;
     top: 0;
}

#Header-section h1{
    color: white;
}

#English-section{
  background-color: black;
  width: 50vw;
  height: 75vh;
  position: absolute;
  top: 25vh;
  
}

#English-section h1{
  font-size: 20;
  color: white;
}


#Kenya-section{
  background-color: red;
  position: absolute;
  width: 50vw;
  height: 75vh;
  top: 25vh;
  left: 50vw;
}

#Kenya-section h1{
  font-size: 20;
  color: white;
}

